<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.1/axios.min.js" integrity="sha512-AzbhRn44jMMB3r+tBzw1apXgpDYtzqcA8KYXDR26a7PaTCjIwi/N6n0lyi8QnroHqn0DEUcQ6buOw22SBqh4VQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <h1>Mastermind</h1>
    <form>
      <table>
        <tbody>
          <tr id="row0">
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td colspan="2">Feedback</td>
          </tr>
          <tr id="row1">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row2">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row3">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row4">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row5">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row6">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row7">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row8">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row9">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="hidden check-btn">
            </td>
          </tr>
          <tr id="row10">
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <input type="text" class="guess-text-input">
            </td>
            <td>
              <table class="feedback">
                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <input type="button" value="Check" class="active check-btn">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div id="other-feedback"></div>
    <table id="number-bank">
      <caption>Number Bank</caption>
      <tbody>
        <tr>
          <% for (let i = par_min; i <= par_max; i++) { %>
            <td><%= i %></td>
          <% } %>
        </tr>
      </tbody>
    </table>
    <table id="symbol-key">
      <caption>Symbol Key</caption>
      <tbody>
        <tr>
          <td>o</td>
          <td>Correct number and location</td>
        </tr>
        <tr>
          <td>x</td>
          <td>Correct number</td>
        </tr>
        <tr>
          <td>-</td>
          <td>Incorrect number</td>
        </tr>
      </tbody>
    </table>
    <script src='javascripts/mastermind.js' type='module'></script>
  </body>
</html>
