body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

table {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  background-color: peachpuff;
}

td {
  background-color: burlywood;
}

button#save-progress-btn {
  display: block;
  margin: 20px auto;
  visibility: hidden;
}

table.feedback {
  margin-left: 0;
  margin-right: 0;
  border-spacing: 0;
}

table#number-bank, table#symbol-key {
  margin-top: 20px;
}

.guess-text-input {
  width: 20%;
}

.hidden {
  visibility: hidden;
}

#other-feedback {
  text-align: center;
  margin-top: 20px;
}
